.certificate-card * {
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}

.certificate-card {
    width: 250px;
    height: 180px;
    /* width: 78vw;
    height: calc((78vw * 9) / 12.5);
    max-height: calc((750px * 9) / 12.5);
    max-width: 750px; */
    
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.certificate-card .image-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
}

.certificate-card .image-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.certificate-card_content {
    width: 100%;
    position: absolute;
    bottom: -22%;
    padding: 5px 15px;

    color: var(--title-color);

    background: linear-gradient(transparent, #000);
    border-radius: unset;
}

.certificate-card_content p {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.certificate-card:hover .image-wrapper {
    scale: 1.1;
}

.certificate-card:hover .certificate-card_content {
    bottom: 0;
}
