section {
    width: 90%;
    background-color: blue;
    border-radius: 10px;
    padding-top: 5px;
}

.content {
    width: 100%;
    padding: 25px 20px;
    background-color: red;
    border-radius: 8px;
}

h2 {
    color: white;
    margin-bottom: 5px;
}

p {
    margin-bottom: 15px;
}
