.project-card {
    width: 210px;
    height: 300px;
    border-radius: 20px;
    cursor: default;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.3s ease-in-out;
    background-color: var(--background-color);
}

.project-card_image {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card_image .image-wrapper {
    width: 80%;
    height: 80%;
    position: relative;
    overflow: hidden;
}

.project-card_image .image-wrapper img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 20px;
    filter: grayscale(0.5);
    transition: 0.3s ease-in-out;
}

.project-card_content {
    width: 100%;
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;

    bottom: 0;
}

.project-card_content h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    color: var(--title-color);
}

.project-card_content > p {
    color: var(--title-color);
    text-align: justify;
    text-indent: 5px;
    font-weight: 300;
    font-size: 14px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.project-card_content > ul {
    list-style: none;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 10px;
    bottom: 0;
}

.project-card_content button {
    padding: 3px;
    width: 60px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.project-card:hover {
    scale: 1.05;
}

.project-card:hover img {
    filter: unset;
}
